<header id="cabecalho">
    <div id="logo">
        Esporte <span id="titulo-logo">ArLivre</span>
    </div>

    <nav id="menu">
        <ul id="ul-menu">
            <li><a routerLink="/home" class="lnk-menu"> Home </a></li>
            <li><a routerLink="/cadastroAtleta" class="lnk-menu"> Cadastro Atleta </a></li>
            <li><a routerLink="/" class="lnk-menu"> Cadastro Corridas </a></li>
            <li><a routerLink="/" class="lnk-menu"> Corridas </a></li>
            <li><a routerLink="/" class="lnk-menu"> Inscrições </a></li>
        </ul>
    </nav>

</header>